/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&mo 3     &kp N9  &kp N7  &kp N1     &kp N2    &kp N5                          &kp N4    &kp N3   &kp N0    &kp N8  &kp N6  &mo 3
&kp LEFT  &kp Q   &kp W   &kp F      &kp P     &kp ESC                         &kp RET   &kp L    &kp U     &kp Y   &kp V   &kp RIGHT
&kp DOWN  &kp A   &kp R   &kp S      &kp T     &kp G                           &kp B     &kp N    &kp E     &kp I   &kp O   &kp UP
&none     &kp Z   &kp X   &kp C      &kp D     &kp B      &tog 1    &tog 1     &kp N     &kp H    &kp M     &kp K   &kp J   &none
                          &kp LCTRL  &kp LGUI  &kp SPACE  &sl 2     &kp RSHFT  &kp BSPC  &kp TAB  &kp LALT
            >;
        };

        layer_1 {
            bindings = <
&kp LEFT  &kp N9  &kp N7  &kp N1     &kp N2    &kp N5                          &kp N4    &kp N3   &kp N0     &kp N8   &kp N6            &kp RIGHT
&kp SQT   &kp Q   &kp W   &kp E      &kp R     &kp T                           &kp Y     &kp U    &kp I      &kp O    &kp P             &kp RIGHT_BRACKET
&kp ESC   &kp A   &kp S   &kp D      &kp F     &kp G                           &kp H     &kp J    &kp K      &kp L    &kp SEMI          &kp ENTER
&kp DOWN  &kp Z   &kp X   &kp C      &kp V     &kp B      &tog 1    &tog 1     &kp N     &kp M    &kp COMMA  &kp DOT  &kp LEFT_BRACKET  &kp UP
                          &kp LCTRL  &kp LGUI  &kp SPACE  &sl 2     &kp RSHFT  &kp BSPC  &kp TAB  &kp LALT
            >;
        };

        layer_2 {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp F3  &kp F4      &kp F5       &kp PERCENT    &kp PLUS           &kp F6                           &kp F7                 &kp PIPE              &kp EXCLAMATION  &kp F8         &kp F9     &kp F10
&kp F2  &kp CARET   &kp BSLH     &kp COLON      &kp HASH           &none                            &none                  &kp GREATER_THAN      &kp ASTERISK     &kp AMPERSAND  &kp TILDE  &kp F11
&kp F1  &kp MINUS   &kp SQT      &kp DOT        &kp UNDERSCORE     &kp GRAVE                        &kp QUESTION           &kp LEFT_PARENTHESIS  &kp COMMA        &kp EQUAL      &kp FSLH   &kp F12
&none   &kp DOLLAR  &kp AT_SIGN  &kp LESS_THAN  &kp DOUBLE_QUOTES  &kp RIGHT_BRACE  &none    &none  &kp RIGHT_PARENTHESIS  &kp SEMI              &kp LEFT_BRACE   &kp LBKT       &kp RBKT   &none
                                 &kp LC(X)      &kp LC(C)          &kp LC(V)        &none    &none  &none                  &none                 &none
            >;
        };

        layer_3 {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&none        &none           &none          &none          &none          &none                          &none          &none          &none          &none          &none           &none
&bt BT_PRV   &bt BT_NXT      &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3                   &bt BT_SEL 3   &bt BT_SEL 2   &bt BT_SEL 1   &bt BT_SEL 0   &bt BT_NXT      &bt BT_PRV
&bt BT_CLR   &bt BT_CLR_ALL  &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3                  &bt BT_DISC 3  &bt BT_DISC 2  &bt BT_DISC 1  &bt BT_DISC 0  &bt BT_CLR_ALL  &bt BT_CLR
&bootloader  &sys_reset      &none          &none          &none          &none          &none    &none  &none          &none          &none          &none          &sys_reset      &bootloader
                                            &kp LC(X)      &kp LC(C)      &kp LC(V)      &none    &none  &none          &none          &none
            >;
        };
    };
};
